body {
  font-family: Arial, sans-serif;
  background-color: #FEF8F8;
  margin: 0;
  padding: 0;
}

#main-content {
  display: none;
}

#welcome-logout-content {
  display: none;
}

#err{
  color: red
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

.container {
  display: flex;
  margin-top: 0px;
  padding: 5px;
}

.table-container {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}


#progressBarContainer {
  width: 200px;
  height: 10px;
  background-color: #ccc;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: #4CAF50;
}

.btn {
  border: 0px;
  background-color: transparent;
}

#myaudioplayer {
  display: none;
  margin-top: 5px;
  width: 100%;
  height: 100px;
  background: #CCC;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0px;
  left: 0;
  align-items: center;
}

#moveCenter {
  padding: 10px;
  margin: 0px auto;
  width: 300px;
}

#shuffleImage {
  cursor: pointer;
}

#shuffle:checked+#shuffleImage {
  content: url("images/shuffle_on.png");
}

#seekBar {
  width: 100%;
  height: 20px;
}

#state {
  display: inline;
}

.bar-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#musicTitle {
  /* font-weight: bold; */
  font-size: 16px;
}

/* .music-container {
  padding: 5px;
} */

#mainbody {
  margin-bottom: 300px;
}

.login-form form {
  display: flex;
  align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  margin-right: 5px;
  height: 30px;
}

.login-form button {
  padding: 5px 10px;
  height: 35px;
}

 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.logo img {
  height: 40px;
}

strong {
  font-size: 20px;
  color: rgb(255, 30, 83);
}

#welcome {
  font-size: 20px;
  color: rgb(255, 30, 83);
}

#logoutBtn {
  padding: 5px 10px;
  height: 35px;
}